 *{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

 html, body{
	min-height: 100vh;
	width: 100%;
    background-color: rgb(34, 34, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
 }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
    margin: 0;  /* not needed once you use padding */
}

.logo{
    display:flex;
    align-items: center;
    gap: 15px;
}

.logo .symbol {
    width: clamp(70px, 5vw, 90px);
    height: auto;
}

.logo .brand{
    color:aliceblue;
    font-size:clamp(30px, 2vw, 200px);
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
    color: aliceblue;
    font-size: clamp(20px, 1.5vw, 40px);
}

.started{
    padding:10px;
    color: aliceblue;
    font-size: clamp(20px, 1.5vw, 40px);
}

.nav-bar:hover{
    cursor:pointer;
    box-shadow: 0 2px gray;
}

.started:hover{
    cursor:pointer;
    background-color: black;
}

header{
    font-size: clamp(60px, 12vw, 200px);
    font-weight: 600;
    color: aliceblue;
    justify-self:center;
}

.sec{
     margin: 50px auto;
    width:clamp(200px, 60vw, 600px);
    display: flex;
    justify-content: space-between;
}

.sec .sel{
    font-size: clamp(25px, 1.5vw, 50px);
    font-weight: 550;
    width:max-content;
    padding:10px 20px;
    border-radius: 50px;
    background-color:rgb(41, 41, 41);
    color:aliceblue;
}
.sel:hover{
    background-color: rgba(255, 89, 0, 0.982);
    cursor:pointer;
}

.info{
    margin:0 auto;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    width:32%;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
}

.img{
    width:100%;
    border-radius: 10px;
}

.title{
    width:max-content;
    font-size: clamp(30px, 1.5vw, 80px);
    background-color: rgb(113, 30, 0);
    color: rgb(207, 154, 123);;
    padding-left:15px;
    padding-right: 15px;
    margin:10px;
    border-radius: 50px;
}

.cont{
    color:aliceblue;
    font-size: clamp(25px, 2.5vw, 100px);
    line-height: clamp(25px, 2vw,60px);
}

.date{
    width:max-content;
    padding:20px;
    color: gray;
    font-size: clamp(10px, 1.5vw, 50px);
}
footer{
    min-height: 40px;
    height:80px;
}